[submodule "themes/pln"]
	path = themes/pln
	url = https://github.com/kangxinghua/hexo-theme-pln.git
[submodule "themes/yelee"]
	path = themes/yelee
	
	url = https://github.com/kangxinghua/hexo-theme-yelee.git
